* {
    font-family: 'Montserrat', sans-serif;
    color:#faf9f9;
}

body {
    background-color: #0b090a;
    min-height: 100vh;
}

a {
    color:#faf9f9;
}

.title {
    text-decoration: none;
}

.post-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}